app:
  title: Backstage
  baseUrl: https://backstage.mayflower.gmbh

organization:
  name: My Company

backend:
  baseUrl: https://backstage.mayflower.gmbh
  listen:
    port: 7007
  csp:
    connect-src: ["'self'", 'http:', 'https:']
  cors:
    origin: https://backstage.mayflower.gmbh
    methods: [GET, HEAD, PATCH, POST, PUT, DELETE]
    credentials: true
  database:
    client: pg
    connection:
      host: ${POSTGRES_HOST}
      port: ${POSTGRES_PORT}
      user: ${POSTGRES_USER}
      password: ${POSTGRES_PASSWORD}

catalog:
  import:
    entityFilename: catalog-info.yaml
  rules:
    - allow: [Component, System, API, Resource, Location]
  locations:
    - type: file
      target: ../examples/entities.yaml
    - type: file
      target: ../examples/template/template.yaml
      rules:
        - allow: [Template]
    - type: file
      target: ../examples/org.yaml
      rules:
        - allow: [User, Group]
